---
layout: default
---
<h1>{{ page.title }}</h1>
<p>
  {{ page.date | date_to_string }}

  {% assign authorCount = page.author | size %}
  {% if authorCount == 0 %}
    No author
  {% elsif authorCount == 1 %}
    {% assign author_link = site.authors | where: 'short_name', author | first %}
    - <a href="{{ author_link.url }}">{{ author_link.name }}</a>
  {% else %}
    {% for author in page.author %}
       {% if forloop.first %}
         {% assign author_link = site.authors | where: 'short_name', author | first %}
         - <a href="{{ author_link.url }}">{{ author_link.name }}</a>
       {% elsif forloop.last %}
         {% assign author_link = site.authors | where: 'short_name', author | first %}
         e <a href="{{ author_link.url }}">{{ author_link.name }}</a>
       {% else %}
         {% assign author_link = site.authors | where: 'short_name', author | first %}
         , <a href="{{ author_link.url }}">{{ author_link.name }}</a>
       {% endif %}
    {% endfor %}
  {% endif %}
</p>
{{ content }}
