---
layout: default
---
<h1>{{ page.title }}</h1>
<p>
  {{ page.date | date_to_string }}
  
  <!--
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
    - <a href="{{ author.url }}">{{ author.name }}</a>
  {% endif %}
  -->
  
  {% assign authorCount = page.authors | size %}
  {% if authorCount == 0 %}
    No author
  {% elsif authorCount == 1 %}
    {{ page.authors | first }}
  {% else %}
    {% for author in page.authors %}
        {% if forloop.first %}
            {{ author }}
        {% elsif forloop.last %}
            and {{ author }}
        {% else %}
            , {{ author }}
        {% endif %}
    {% endfor %}
  {% endif %}
</p>

{{ content }}
